.swap-container {
    display: block;
    float: left;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: darkorange;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

.cookie {
    font-size: x-small;
    color: black;
}